## Bridges

|Bridge Type Id|Channel Groups|Channels|Description|
|---|---|---|---|
{{#bridgeList}}
    {{#model}}|<a
            name="bridge-id-{{id}}"></a>{{id}} | {{#channelGroups}} {{#model}} {{typeId}}](#channel-id-{{typeId}} {{/model}} {{/channelGroups}} | {{#channels}} {{#model}} [{{id}}](#channel-id-{{id}}){{/model}}{{#isNotLast}}, {{/isNotLast}} {{/channels}} | {{description}} |
    {{/model}}
{{/bridgeList}}

|Thing Type Id|Channel Groups|Config|Description|
|---|---|---|---|
{{#thingList}}
    {{#model}}<a
            name="thing-id-{{id}}"></a>{{id}} | {{#channelGroups}} {{#model}} [{{typeId}}](#channel-id-{{typeId}}) {{/model}} {{/channelGroups}} | {{#configDescription}} [{{uri}}](#config-desc-{{uri}}) {{/configDescription}}| {{description}} |
    {{/model}}
{{/thingList}}

{{#channelList}}

{{/channelList}}